#dash {
    text-align: center;
}

#nav {
    text-align: center;
    margin-bottom: 6em;
    padding-top: 1rem;
}

#container {
    max-width: 800px;
    margin: auto;
}

.center-text {
    text-align: center;
}

td,
th,
table {
    border: thin solid black;
}